<div class="content">
    <title>Tablero</title>
    
        <div class="wrapper wrapper-content">
            <div class="row  border-bottom white-bg dashboard-header">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" name="cedula" placeholder="C.I">	
                        </div>
                    </div> 	
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" name="nombre1" placeholder="Primer Nombre">	
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" name="nombre2" placeholder="Segundo Nombre">
                        </div>
                    </div> 
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" name="apellido1" placeholder="Primer Apellido">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" name="apellido2" placeholder="Segundo Apellido">
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <button (click)='addPaciente()' class="btn btn-primary pull-left">Agregar Paciente</button>
                    </div>
                    <div class="col-md-6">
                        <button (click)='onSubmit()' class="btn btn-primary pull-right" type="submit">Buscar Paciente</button>
                    </div>
                </div>
            </div>          
        </div>
</div>   

